{{ define "main" }}
{{ .Render "content" }}
<table>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    {{ range $key, $value := .Params.project }}
      <tr>
        <td>{{ $key }}</td>
        <td>{{ $value }}</td>
      </tr>
    {{ end }}
  </table>
{{ end }}
