:root {
    --search-primary: #{$primary} !important;
  }
  .search-result {
    mark {
      padding: 0; // remove the padding of highlight matches.
    }
  }
  a {color:#a08002;text-decoration:none}
  a:hover {
    color: #f7d037;
  }
