/*

Add styles or override variables from the theme here.
See https://github.com/google/docsy/blob/main/assets/scss/_variables.scss

*/

$primary: #2c3e50;
$secondary: #a08002;
// $gray-700: #a08002;
// $blue: #a08002;
// $google_font_name: "Open Sans";
// $google_font_family: "Open+Sans:300,300i,400,400i,700,700i";

// $white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;  // #ced4da
// $gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;
