<style>
    .feedback--answer {
      display: inline-block;
    }
    .feedback--answer-no {
      margin-left: 1em;
    }
    .feedback--response {
      display: none;
      margin-top: 1em;
    }
    .feedback--response__visible {
      display: block;
    }
  </style>
  <div class="d-print-none">
  <h2 class="feedback--title">{{- i18n "feedback_title" -}}</h2>
  <p class="feedback--question">{{- i18n "feedback_question" -}}</p>
  <button class="btn btn-primary mb-4 feedback--answer feedback--answer-yes">{{- i18n "feedback_positive" -}}</button>
  <button class="btn btn-primary mb-4 feedback--answer feedback--answer-no">{{- i18n "feedback_negative" -}}</button>
  <p class="feedback--response feedback--response-yes">
    {{- i18n "feedback_answer_yes" -}}&nbsp;<a href="{{- i18n "feedback_answer_link_url" -}}">{{- i18n "feedback_answer_link_text" -}}</a>.
  </p>
  <p class="feedback--response feedback--response-no">
    {{- i18n "feedback_answer_no" -}}&nbsp;<a href="{{- i18n "feedback_answer_link_url" -}}">{{- i18n "feedback_answer_link_text" -}}</a>.
</p>
  </div>
  <script>
    const yesButton = document.querySelector('.feedback--answer-yes');
    const noButton = document.querySelector('.feedback--answer-no');
    const yesResponse = document.querySelector('.feedback--response-yes');
    const noResponse = document.querySelector('.feedback--response-no');
    const disableButtons = () => {
      yesButton.disabled = true;
      noButton.disabled = true;
    };
    const sendFeedback = (value) => {
      if (typeof ga !== 'function') return;
      const args = {
        command: 'send',
        hitType: 'event',
        category: 'Helpful',
        action: 'click',
        label: window.location.pathname,
        value: value
      };
      ga(args.command, args.hitType, args.category, args.action, args.label, args.value);
    };
    yesButton.addEventListener('click', () => {
      yesResponse.classList.add('feedback--response__visible');
      disableButtons();
      sendFeedback(1);
    });
    noButton.addEventListener('click', () => {
      noResponse.classList.add('feedback--response__visible');
      disableButtons();
      sendFeedback(0);
    });
  </script>

