---
categories: {{ doc['categories'] }}
description: "{{ doc['description'] }}"
#icon: fa-brands fa-square-gitlab
icon: fa-brands fa-git-alt
linkTitle: {{ doc['linkTitle'] }}
tags: {{ doc['tags'] }}
title: "{{ doc['title'] }}"
weight: {{ doc['weight'] }}
---

GitLab: <a href="{{ doc['project']['web_url'] }}"><code>{{ doc['project']['path_with_namespace'] }}</code>&nbsp;<i class="fa-regular fa-arrow-up-right-from-square"></i></a>
{{ doc['readme_no_heading'] }}

---


<!--
id | {{ doc['project']['id'] }}
default_branch | {{ doc['project']['default_branch'] }}
web_url | <a href="{{ doc['project']['web_url'] }}" data-proofer-ignore>{{ doc['project']['path_with_namespace'] }}&nbsp;<i class="fa-regular fa-arrow-up-right-from-square"></i></a>
-->

