{{- $url := .Get "url" -}}
{{- $text := .Get "text" | default $url -}}
{{- $icon := .Get "icon" | default "fa-regular fa-arrow-up-right-from-square" -}}
{{- $ignore := .Get "htmlproofer_ignore" | default false -}}
<a href="{{ $url }}" target="_blank" rel="noopener noreferrer" {{ if $ignore }}data-proofer-ignore{{ end }}>
  {{- $text -}}&nbsp;<i class="{{ $icon }}"></i>
</a>
