<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">In ontwikkeling:</h4>
    Onze excuses voor het ongemak, maar deze pagina en de subpagina's zijn momenteel in ontwikkeling.
</div>